* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#mapContainer {
    display: flex;
    left: 0;
    top: 0;
    position: fixed;
    width: 1000px;
    height: 1000px;
    flex-flow: row wrap;
    opacity: 0;
    pointer-events: none;
}

#mapContainer div {
    width: 500px;
    height: 500px;
}

#canvasContainer {
    width: 500px;
    height: 1000px;
    display: flex;
    flex-flow: row wrap;
}

#canvasContainer canvas {
    width: 500px;
    height: 500px;
}

#mapCanvas2,
#mapCanvas4 {
    pointer-events: none;
    opacity: 0;
}
#imgContainer {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    width: 1000px;
    height: 1000px;
    flex-flow: row wrap;
    opacity: 1;
}

#imgContainer img {
    width: 500px;
    height: 500px;
}

#imgContainer canvas {
    width: 500px;
    height: 500px;
}
ul {
    position: fixed;
    left: 10px;
    bottom: 10px;
    /* display: none; */
}

input {
    width: 30px;
    height: 100%;
    padding: 5px 10px;
}

text {
    display: none;
}

.attribution {
    display: none;
}
